.carsshow-card-bg {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 110px;
    justify-content: center;
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
}

.carsshow-card {
    width: 330px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.carsshow-card-img {
    width: 270px !important;
    height: 160px !important;
    object-fit: contain;
}

.carsshow-card-title {
    margin-top: 16px;
}

.carsshow-card-title-p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.carsshow-card-price {
    margin-top: 8px;
}

.carsshow-card-price-p {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.carsshow-card-desc {
    margin-top: 8px;
}

.carsshow-card-desc-p {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

.carsshow-card-button-bg {
    margin-top: 24px;
}

.carsshow-card-button {
    background-color: #5CB85F;
    border: 0;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    width: 100%;
    padding: 14px;
    color: white;
}

.carsshow-loading {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width:430px) {
    
}