.faq-section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-bottom: 50px;
}

.faq-title {
    width: 368px;
}

.faq-title-h3-bg {
    margin-bottom: 16px;
}

.faq-title-h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.faq-title-p {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

.faq-accord {
    width: 668px;
}

.faq-accord-item {
    padding: 16px 24px !important;
    margin-bottom: 16px;
    border: 1px solid #D4D4D4 !important;
    border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    -ms-border-radius: 4px !important;
    -o-border-radius: 4px !important;
}

.faq-accord-body {
    padding: 16px 20px;
}

@media only screen and (max-width:430px) {
    .faq-section {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        margin-bottom: 50px;
        padding: 0 16px;
    }

    .faq-title {
        width: 100%;
    }

    .faq-title-h3-bg {
        display: flex;
        justify-content: center;
        margin-bottom: 16px;
    }

    .faq-title-p-bg {
        display: flex;
        justify-content: center;
    }

    .faq-accord {
        width: 100%;
    }
}