.filtercars-section {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 450px;
    background-color: white;
    left: 420px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.filtercars-bg {
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.filtercars-top {
    margin-bottom: 16px;
}

.filtercars-top-p {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

.filtercars-search-bg {
    display: flex;
    gap: 16px;
}

.filtercars-input-title {
    margin-bottom: 4px;
}

.filtercars-input-title-p {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
}

.filtercars-input-name {
    border: 0;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    font-family: 'Rubik', sans-serif;
    border: 1px solid #CCCCCC;
    padding: 9px 12px;
    width: 210px;
}

.filtercars-select {
    width: 210px !important;
    padding-top: 9px !important;
    padding-bottom: 9px !important;
    font-size: 12px !important;
    color:  #8A8A8A !important;
}

.filtercars-dropdown {
    width: 210px;
    background-color: transparent !important;
    color:  #8A8A8A !important;
    border: 1px solid #CCCCCC !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 18px !important;
    padding: 9px 12px !important;
}

.filtercars-input-status {
    border: 0;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

.filtercars-seacrh-button-bg {
    display: flex;
    align-items: flex-end;
}

.filtercars-seacrh-button {
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    background-color: #5CB85F;
    border: 0;
    color: white;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

@media only screen and (max-width:1440px) {
    .filtercars-section {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 450px;
        background-color: white;
        left: 170px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }
}