.footer-section {
    display: flex;
    justify-content: space-evenly;
    padding-top: 150px;
    padding-bottom: 100px;
}

.footer-address-bg {
    width: 268px;
    margin-bottom: 16px;
}

.footer-address-p {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

.footer-gmail-bg {
    margin-bottom: 16px;
}

.footer-gmail-p {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

.footer-phone-bg {
    margin-bottom: 16px;
}

.footer-phone-p {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}