.footer-section {
    margin-top: 150px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-evenly;
}

.footer-address {
    margin-bottom: 16px;
}

.footer-address-p {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    width: 286px;
}

.footer-gmail {
    margin-bottom: 16px;
}

.footer-gmail-p {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

.footer-phone {
    margin-bottom: 16px;
}

.footer-phone-p {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

.footer-navbar {
    margin-bottom: 16px;
}

.footer-navbar-p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.footer-socmed-title {
    margin-bottom: 16px;
}

.footer-socmed-title-p {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

.footer-icons {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.footer-icons-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: #0D28A6;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.footer-icons-icon {
    color: white;
    size: 20px;
}

.footer-copyright {
    margin-bottom: 16px;
}

.footer-copyright-p {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

@media only screen and (max-width:430px){
    .footer-section {
        margin-top: 60px;
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
        padding: 0 16px;
    }

    .footer-icons {
        margin-bottom: 16px;
        display: flex;
        flex-direction: row;
        gap: 16px;
    }
}