.hero-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 38px;
    background-color: #F1F3FF;
    margin-bottom: 50px;
}

.hero-section-disable {
    height: 260px;
    padding-top: 38px;
    background-color: #F1F3FF;
    margin-bottom: 50px;
}

.hero-desc {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    width: 550px;
    margin-left: 300px;
}

.hero-desc-disable {
    display: none;
}

.hero-title-bg {
    margin-bottom: 16px;
}

.hero-title-h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
}

.hero-desc-bg {
    margin-bottom: 16px;
}

.hero-desc-p {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

.hero-button {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: white;
    background-color: #5CB85F;
    border: 0;
    padding: 8px 12px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.hero-image-img-disable {
    display: none;
}

@media only screen and (max-width:1440px){
    .hero-desc {
        display: flex;
        flex-direction: column;
        margin-top: auto;
        margin-bottom: auto;
        width: 490px;
        margin-left: 70px;
    }

    /* .hero-image-img {
        width: 704px !important;
        height: fit-content;
    } */
}

@media only screen and (max-width:430px){
    .hero-section {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        padding-top: 32px;
        background-color: #F1F3FF;
        margin-bottom: 0px;
    }

    .hero-desc {
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;
        width: 100%;
        margin-left: 0px;
        padding: 0 16px;
    }

    .hero-image-img {
        display: flex;
        width: 97%;
        height: fit-content;
        margin-left: auto;
    }
}