.testimonial-section {
    margin-top: 100px;
}

.testimonial-title-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-title-h3-bg {
    margin-bottom: 16px;
}

.testimonial-title-h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin: 0;
}

.testimonial-title-p-bg {
    margin-bottom: 40px;
}

.testimonial-title-p {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    margin: 0;
}

.testimonial-item-img {
    display: flex;
    width: 700px;
    height: 270px !important;
    margin-left: auto;
    margin-right: auto;
}

.testimonial-item-desc {
    display: flex;
    position: absolute;
    bottom: 4rem;
    right: 35%;
    left: 35%;
}

.testimonial-item-img-bg {
    margin-right: 46px;
    display: flex;
    align-items: center;
}

.testimonial-ratings {
    display: flex;
}

.testimonial-item-desc-p-bg {
    margin-bottom: 8px;
}

.testimonial-item-desc-p {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: black;
    margin: 0;
}

.testimonial-item-desc-name-p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

@media only screen and (max-width:1440px) {
    .testimonial-item-desc {
        display: flex;
        position: absolute;
        bottom: 4rem;
        right: 27%;
        left: 27%;
    }
}

@media only screen and (max-width:430px) {
    .testimonial-section {
        margin-top: 60px;
        padding: 0 16px;
    }
    
    .testimonial-item-img {
        display: flex;
        width: 100%;
        height: 450px !important;
    }

    .testimonial-item-desc {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 4rem;
        right: 17%;
        left: 17%;
    }

    .testimonial-item-img-bg {
        display: flex;
        justify-content: center;
        margin: 0;
        margin-bottom: 24px;
    }

    .testimonial-ratings {
        display: flex;
        justify-content: center;
        margin-bottom: 24px;
    }
}